* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background-color: #fff;
  height: 80px;
  border-top: 2px solid #fff;
  width: 80%;
  margin: 0 auto;
  border-bottom: 10px solid rgb(56, 217, 245);
  margin-bottom: 15px;
}

#parasol {
  width: 35px;
  position: absolute;
  top: 10px;
  left: 10px;
}

nav {
  margin-top: 10px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(235, 229, 229, 0.749);
  gap: 10px;
  position: relative;
}

.main_nav {
  border-radius: 10px;
  text-decoration: none;
  font-size: 25px;
  margin-right: 20px;
  font-weight: bold;
}

body {
}

.container {
  margin: 0px 3px;
}

.main {
  height: 90%;
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.left-aside {
  background-color: rgb(241, 241, 241);
  width: 200px;
  height: 600px;
  border: 5px solid #000;
}

.region_list {
  font-size: 30px;
}

li {
  margin: 30px 10px;
  list-style: none;
  font-weight: bold;
}

.ocean_list_1,
.ocean_list_2,
.ocean_list_3 {
  font-size: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(0, 141, 207);
}

.content {
  background-color: rgb(226, 242, 202);
  width: 1100px;
  height: 600px;
  border: 5px solid #000;
}

.container-1 {
  margin: 20px auto;
  width: 80%;
  display: grid;
  grid-template:
    "a d" 60px
    "b d" 70px
    "c e" 250px / 0.7fr 1fr;
  column-gap: 100px;
  row-gap: 70px;
}

.content-1 {
  grid-area: a;
  text-align: center;
  border-bottom: 5px solid rgb(80, 214, 255);
  border-radius: 30%;
}

.content-1-1 {
  border-bottom: 5px solid rgb(128, 181, 255);
  margin: 5px;
  border-radius: 10%;
  display: inline-block;
}

.content-2 {
  grid-area: b;
  border: 2px dotted #000;
  border-radius: 10%;
  line-height: 70px;
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  text-align: center;
  background-color: rgba(226, 247, 250, 0.879);
}

.content-3 {
  grid-area: c;
  border: 3px dotted #000;
  font-weight: bold;
  line-height: 1.5;
}

.content-4 {
  grid-area: d;
}

.content-5 {
  grid-area: e;
}

#hazo {
  width: 400px;
  height: 280px;
}

footer {
  width: 100%;
  margin: 0px auto;
}
